body{
    background: url("images/paris-pc-1-1024x576.png")no-repeat fixed;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
       
}

header{
    background: url("images/1431918-abstrait-bleu-avec-courbes-ondulees-gratuit-vectoriel.jpg")   fixed;
    background-size: cover;
    border-bottom: 2px groove blue;
    text-align: center ;
    height: 5.5em;
}

menu{
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    bottom: 19.5px;
    
}
.submenu{
    display: none;
}
.menucontent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}


main{
    display:flex;
    flex-direction: row;
}
#img{
    width: 130%;
    height: 100%;
}
#img2{
    width: 50%;
    height: 100%;
    
}
aside{
    background-color: white ;
}

footer{
    border-top: 1px solid;
    background-color: honeydew;
    text-align: center;
    color: red;
    position: absolute;
    bottom:0px;
    right:0px;
    left: 0px;
}








a:hover{
    text-decoration: underline;
    color: grey;
    
}
a:visited{
    color: blue;
}

.joueur:hover{
    color: blue;
}
