body
{
    background-color: royalblue; 
    background: url("images/logo\ psg\ miniature.png") fixed no-repeat 10px 80px ;
    background-color:black;
}

p, h1
{
    font-weight: bold;
    color: red;
    text-align: left;
}
.flottant
{
    float: left;
}
.autreparagraphe
{
    clear: left;;
}
h1
{
    border-top: 3px blue solid;
    border-radius: 30px / 30px;
    box-shadow: 6px 6px 5px red;
    text-shadow: 6px 6px 10 px;
    text-align: center;
}
img
{
    opacity: 0.92;
}
*
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}